{% extends "core/base.html"%}
{% load static %}
{% block content %}


<!-- Start Header -->
<div class="fables-header fables-after-overlay bg-rules">
    <div class="container">
         <h2 class="fables-page-title fables-second-border-color wow fadeInLeft" data-wow-duration="1.5s">Blog Details</h2>
    </div>
</div>
<!-- /End Header -->

<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                  <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                    <li class="breadcrumb-item"><a href="#" class="fables-second-text-color">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                    <li class="breadcrumb-item active" aria-current="page">Getting to Another Level of Design </li>
                  </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /End Breadcrumbs -->

<!-- Start page content -->
<div class="container">
     <div class="my-4 my-lg-5">
        <div class="owl-carousel owl-theme default-carousel absolute-dots inside-text-carousel nav-0 mr-4 mb-3">
              <div class="image-container rotateOut-effect">
                  <a href="#">
                    <img src="{{ object.img.url}}" alt="" class="w-100">
                  </a>
              </div>
              <div class="image-container rotateOut-effect">
                  <a href="#">
                    <img src="{{ object.img.url}}" alt="" class="w-100">
                  </a>
              </div>
         </div>
         <h2 class="fables-second-text-color font-20 semi-font my-3 mt-md-0">{{object.title}}</h2>
         <p class="fables-forth-text-color font-14">
             {{object.description}}
          </p>
     </div>

     <div class="row mx-sm-0 mb-4 mb-md-0">
          <div class="col-12 col-sm-4 p-sm-0 mb-4 mb-sm-0 wow fadeIn" data-wow-delay=".3s">
             <div class="position-relative image-container rotateOut-effect">
                      <img src="{% static 'assets/custom/images/video1.jpg' %}" alt="" class="w-100">
                  <div class="demo-gallery-poster fables-main-gradient">
                    <a data-fancybox href="https://www.youtube.com/watch?v=meBbDqAXago">
                       <img src="{% static 'assets/custom/images/play-button.png' %}" alt="play button" class="img-fluid">
                   </a>
                 </div>
            </div>

         </div>
          <div class="col-12 col-sm-4 p-sm-0 mb-4 mb-sm-0 wow fadeIn" data-wow-delay=".6s">
              <div class="position-relative image-container rotateOut-effect">
                  <img src="{% static 'assets/custom/images/video2.jpg' %}" alt="" class="w-100">
                  <div class="demo-gallery-poster fables-main-gradient">
                    <a data-fancybox href="https://www.youtube.com/watch?v=meBbDqAXago">
                       <img src="{% static 'assets/custom/images/play-button.png' %}" alt="play button" class="img-fluid">
                   </a>
                 </div>
             </div>
         </div>
          <div class="col-12 col-sm-4 p-sm-0 mb-4 mb-sm-0 wow fadeIn" data-wow-delay=".9s">
              <div class="position-relative image-container rotateOut-effect">
                  <img src="{% static 'assets/custom/images/video3.jpg' %}" alt="" class="w-100">
                  <div class="demo-gallery-poster fables-main-gradient">
                    <a data-fancybox href="https://www.youtube.com/watch?v=meBbDqAXago">
                       <img src="{% static 'assets/custom/images/play-button.png' %}" alt="play button" class="img-fluid">
                   </a>
                 </div>
             </div>

         </div>
     </div>


     <div class="row mb-lg-4">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 wow fadeIn" data-wow-delay=".4s">
                  <div class="img-contain image-container rotateOut-effect">
                      <img src="{% static 'assets/custom/images/blog-cat1.jpg' %}" alt="" class="w-100">

                      <div class="fables-blog-details-overlay fables-second-color-transparent p-3 d-flex flex-column justify-content-end align-items-center">
                          <h2 class="mt-6 border-bottom font-18 semi-font pb-2"><a href="#" class="white-color white-color-hover">Lorem ipsum dolor</a></h2>
                          <p class="font-14 my-2 text-white">
                              sit amet, consectet
                          </p>
                       </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 wow fadeIn" data-wow-delay=".8s">
                  <div class="img-contain image-container rotateOut-effect">
                      <img src="{% static 'assets/custom/images/blog-cat2.jpg' %}" alt="" class="w-100">
                      <div class="fables-blog-details-overlay fables-second-color-transparent p-3 d-flex flex-column justify-content-end align-items-center">
                          <h2 class="mt-6 border-bottom font-18 semi-font pb-2"><a href="#" class="white-color white-color-hover">Lorem ipsum dolor</a></h2>
                          <p class="font-14 my-2 text-white">
                              sit amet, consectet
                          </p>
                       </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 wow fadeIn" data-wow-delay="1.2s">
                  <div class="img-contain image-container rotateOut-effect">
                      <img src="{% static 'assets/custom/images/blog-cat3.jpg' %}" alt="" class="w-100">
                      <div class="fables-blog-details-overlay fables-second-color-transparent p-3 d-flex flex-column justify-content-end align-items-center">
                          <h2 class="mt-6 border-bottom font-18 semi-font pb-2"><a href="#" class="white-color white-color-hover">Lorem ipsum dolor</a></h2>
                          <p class="font-14 my-2 text-white">
                              sit amet, consectet
                          </p>
                       </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 wow fadeIn" data-wow-delay="1.6s">
                  <div class="img-contain image-container rotateOut-effect">
                      <img src="{% static 'assets/custom/images/blog-cat4.jpg' %}" alt="" class="w-100">
                      <div class="fables-blog-details-overlay fables-second-color-transparent p-3 d-flex flex-column justify-content-end align-items-center">
                          <h2 class="mt-6 border-bottom font-18 semi-font pb-2"><a href="#" class="white-color white-color-hover">Lorem ipsum dolor</a></h2>
                          <p class="font-14 my-2 text-white">
                              sit amet, consectet
                          </p>
                       </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 wow fadeIn" data-wow-delay="2s">
                  <div class="img-contain image-container rotateOut-effect">
                      <img src="{% static 'assets/custom/images/blog-cat5.jpg' %}" alt="" class="w-100">
                      <div class="fables-blog-details-overlay fables-second-color-transparent p-3 d-flex flex-column justify-content-end align-items-center">
                          <h2 class="mt-6 border-bottom font-18 semi-font pb-2"><a href="#" class="white-color white-color-hover">Lorem ipsum dolor</a></h2>
                          <p class="font-14 my-2 text-white">
                              sit amet, consectet
                          </p>
                       </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 wow fadeIn" data-wow-delay="2.4s">
                  <div class="img-contain image-container rotateOut-effect">
                      <img src="{% static 'assets/custom/images/blog-cat6.jpg' %}" alt="" class="w-100">
                      <div class="fables-blog-details-overlay fables-second-color-transparent p-3 d-flex flex-column justify-content-end align-items-center">
                          <h2 class="mt-6 border-bottom font-18 semi-font pb-2"><a href="#" class="white-color white-color-hover">Lorem ipsum dolor</a></h2>
                          <p class="font-14 my-2 text-white">
                              sit amet, consectet
                          </p>
                       </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 wow fadeIn" data-wow-delay="2.8s">
                  <div class="img-contain image-container rotateOut-effect">
                      <img src="{% static 'assets/custom/images/blog-cat3.jpg' %}" alt="" class="w-100">
                      <div class="fables-blog-details-overlay fables-second-color-transparent p-3 d-flex flex-column justify-content-end align-items-center">
                          <h2 class="mt-6 border-bottom font-18 semi-font pb-2"><a href="#" class="white-color white-color-hover">Lorem ipsum dolor</a></h2>
                          <p class="font-14 my-2 text-white">
                              sit amet, consectet
                          </p>
                       </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 wow fadeIn" data-wow-delay="3.2s">
                  <div class="img-contain image-container rotateOut-effect">
                      <img src="{% static 'assets/custom/images/blog-cat4.jpg' %}" alt="" class="w-100">
                      <div class="fables-blog-details-overlay fables-second-color-transparent p-3 d-flex flex-column justify-content-end align-items-center">
                          <h2 class="mt-6 border-bottom font-18 semi-font pb-2"><a href="#" class="white-color white-color-hover">Lorem ipsum dolor</a></h2>
                          <p class="font-14 my-2 text-white">
                              sit amet, consectet
                          </p>
                       </div>
                  </div>
              </div>


          </div>

</div>
<!-- /End page content -->

{% endblock %}